# Portfolio Analysis

In this project, we seek to run through some common portfolio construction and asset allocation strategies to gain some insights into the usefulness of standard measures like sharpe ratio. The end goal is to test such strategies to a sufficient level of rigour that we can convincingly employ them into our portfolio rebalancing pipeline. I will start off by testing my own portfolio and the procedures should be generalizable. Let's get started!

## Project Setup

##### Assets

1. Sea Limited (NYSE:'**SE**')
2. Bili Bili (NYSE:'**BILI**')
3. Pinduoduo (NYSE:'**PDD**')
4.

##### Data

Daily adjusted closing prices from yahoo finance API

##### Time period

1 year

In [35]:
# Load the required packages 
import numpy as np 
import matplotlib.pyplot as plt
from scipy import fftpack
import pandas as pd
import yfinance as yf

## Data Analysis

In [48]:
s_list = 'SE BILI PDD'
df = yf.download(tickers = s_list, period = '1y', interval = '1d', group_by = 'ticker')

[*********************100%***********************]  3 of 3 completed

In [55]:
# check the downloaded data
df_close = df.xs('Adj Close', level = 1, axis = 1)
# df_close = df.loc[:,(slice(None),'Adj Close')]

# check the last 10 values
df_close.tail()

                   PDD        BILI          SE
Date
2021-07-16  107.449997  109.010002  267.600006
2021-07-19  104.690002  108.480003  272.839996
2021-07-20  102.250000  111.919998  279.640015
2021-07-21  104.519997  115.580002  293.920013
2021-07-22  104.959999  108.660004  293.790009

In [54]:
# check the size 
df_close.size

756

In [66]:
# convert the price into rate of return
df_return = df_close.pct_change()
df_return.tail()

                 PDD      BILI        SE
Date
2021-07-16 -0.029709 -0.010080 -0.004575
2021-07-19 -0.025686 -0.004862  0.019581
2021-07-20 -0.023307  0.031711  0.024923
2021-07-21  0.022200  0.032702  0.051066
2021-07-22  0.004210 -0.059872 -0.000442

In [70]:
# compute the pearson pairwise correlation matrix
df_return.corr(method='pearson')

           PDD      BILI        SE
PDD   1.000000  0.557658  0.620635
BILI  0.557658  1.000000  0.593121
SE    0.620635  0.593121  1.000000

In [71]:
# compute the pairwise variance covariance matrix 
df_return.cov()

           PDD      BILI        SE
PDD   0.001937  0.001111  0.001003
BILI  0.001111  0.002049  0.000986
SE    0.001003  0.000986  0.001349

## Minimum Variance Portfolio

Given a portfolio of $n$ assets and a required portfolio rate of return $\mu_{p}$, find $w_{i}$ for $i \in [1:n]$ such that the portfolio variance $\sigma_{p}$ is minimized.

## Maximum Return Portfolio

Given a portfolio of $n$ assets and a maximum portfolio variance  $\sigma_{p}$, find $w_{i}$ for $i \in [1:n]$ such that the portfolio rate of return $\mu_{p}$ is minimized.